<%= provide(:title, "Sign up") %>
<h1 class="size1 form">Обновить профиль</h1>

<div class="row size ">
  <div class="col"></div>
    <div class="col-md-6 ">
      <%= form_for(@user, html: { multipart: true }) do |f|%>
        
       <%= render "shared/error_messages" %>

        <%= f.label "Имя" %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label "Пороль" %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label "Повторить пороль" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>

        <h1 class="size">Аватар</h1>
          <span class="avatar">
            <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png' %>
          </span>

      <%= f.submit "Сохранить изменения", class: "btn size", style: "background-color: #d4beb0;" %>
    <% end %>
  </div>
  <div class="col"></div>
</div>

<script type="text/javascript">
$('#user_avatar').bind('change', function() {
  size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Максимальный размер файла - 5 МБ. Выберите файл меньшего размера.');
    }
  });
</script>