<% provide(:title, @user.name )%>
<div class="row">
  <div class="col-sm-4 size2 indent6">
    <h2>
     <div class="form2"> <%= avatar_for @user, 100 %></div>
      <%= @user.name %>
    </h2>    
  </div>
  <div class="col-sm-8 size indent7">
    <% if @user.posts.any? %>
      <h2>Рецепты (<%= @user.posts.count %>)</h2>
      <h4><%= link_to "Создать рецепт", new_post_path %></h4>
      <ol class="posts indent8">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>    
  </div>
</div>