<%= form_for(@post, html: { multipart: true }) do |f| %>
  
  <%= render 'shared/error_messages', object: f.object %>
  
    <br><h3><mark>Название рецепта</mark></h3>
    <div>
      <%= f.text_field :title, placeholder: "Название рецепта",class: "indent8 size4" %>
    </div><br><hr><br>
     
     <h3><mark>Ингредиенты</mark></h3>
      <div class="form7">
        <%= f.fields_for :ingredients do |t| %>
          <%= render "ingredient_fields", :f => t %>
        <% end %>
         <div class="form7">
          <%= link_to_add_association "Добавить", f, :ingredients, class: "a1 a2" %> <!-- (*) -->
        </div>
      </div><br><hr><br>

    <h3><mark>Приготовление</mark></h3>
    <div class="field form8">
      <%= f.text_area :content, placeholder: "Поделиться новым рецептом...", class: "size3" %>
    </div><br><hr><br>

    <h3><mark>Время</mark></h3>
    <div class="field">
      <%= f.label "Время подготовки" %>
      <%= f.time_field :preparation_time %>
    </div>

    <div class="field">
       <%= f.label "Время готовки" %>
      <%= f.time_field :cooking_time %>
    </div><br><hr><br>

    <h3 ><mark>Добавить категорию</mark></h3>
    <div class="field form8">
      <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
    </div><br><hr><br>

    <h3><mark>Добавить главное фото</mark></h3>
    <span class="avatar">
        <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "form8" %>
    </span><br><hr><br>

    <h3><mark>Добавить фотогрфии приготовления</mark></h3>
    <span class="avatar">
        <%= f.file_field :pictures, multiple: true, accept: 'image/jpeg,image/gif,image/png', class: "form8" %>
    </span><br><br>

    <%= f.submit "Поделиться", class: "btn size", style: "background-color: #d4beb0;" %>
<% end %>

<script type="text/javascript">
$('#post_pictures').bind('change', function() {
  size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Максимальный размер файла - 5 МБ. Выберите файл меньшего размера.');
    }
  });
</script>

<script type="text/javascript">
$('#post_image').bind('change', function() {
  size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Максимальный размер файла - 5 МБ. Выберите файл меньшего размера.');
    }
  });
</script>