<%= link_to avatar_for(post.user, 50), post.user%>
<span ><%= link_to post.user.name, post.user %></span>

  <div class="image_1 content size2">
    <div  class="image_2">
      <%= image_tag post.image.url, class: "img1" if post.image.url %>
    </div>
    <div class="form4">
      <h3><%= link_to post.title, post, class: "a1 a2" %></h3>
    </div>
    <div class="form4">
      <h5 >Категория: <%= link_to post.category.try(:name), post.category, class: "a1 a2" %></h5>
    </div>
    <div class="form4">
     <h5>Время подготовки: <%= distance_of_time_in_words(post.preparation_time, self.post.preparation_time + self.post.preparation_time.try(:strftime, ("%k")).to_i.hour + self.post.preparation_time.try(:strftime, ("%M")).to_i.minute, false, only: [:minutes, :hours]) %></h5>
    </div>    
    <div class="form4">
     <h5>Время готовки: <%= distance_of_time_in_words(post.cooking_time, post.cooking_time + post.cooking_time.try(:strftime, ("%k")).to_i.hour + post.cooking_time.try(:strftime, ("%M")).to_i.minute, false, only: [:minutes, :hours]) %></h5>
    </div>
  </div>

<span class="timestamp ">
  Опубликовано <%= time_ago_in_words(post.created_at) %> назад.
  <% if current_user?(post.user) %> 
   | <%= link_to "удалить", post, class: "a1 a2", method: :delete, data: { confirm: "Вы уверены?" } %>
  <% end %> 
</span> <hr/>



  


