<%= link_to avatar_for(post.user, 50), post.user%>
<span ><%= link_to post.user.name, post.user %></span>

  <div class="image_1 content">
     <div  class="image_2">
        <%= image_tag post.image.url if post.image.url %>
     </div>
        <div>
           <h3><%= link_to post.title, post, class: "form4 a1 a2" %></h3>
        </div>
  </div>

<span class="timestamp">
  Опубликовано <%= time_ago_in_words(post.created_at) %> назад.
  <% if current_user?(post.user) %> 
   | <%= link_to "удалить", post, class: "a1 a2", method: :delete, data: { confirm: "Вы уверены?" } %>
  <% end %> 
</span> <hr/>



  


