<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d4beb0;" >
  <div class="container-fluid ">
    <%= link_to image_tag("logo.png"), root_path,  class: "logo " %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse size" id="navbarNav">
      <ul class="navbar-nav"> 
        <li class="nav-item indent1">
          <%= link_to "Главная", root_path, class: "nav-link  "  %>
        </li>
        <li class="nav-item">
          <%= link_to "Категории", "#", class: "nav-link" %>
        </li>
        <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "Лента", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Профиль", current_user, class: "nav-link" %>
        </li>
      </ul>
        <div class="dropdown nav-link indent4">
          <a class=" a1 a2"  id="dropdownMenuLink" data-bs-toggle="dropdown" >
            Ещё
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li class="indent5"><%= link_to "Пользователи", '#' %></li>
            <li class="indent5"><%= link_to "Избранное", '#' %></li>
            <li class="indent5"><%= link_to "Настройки", '#' %></li>
            <li class="indent5"><%= link_to "Выход", logout_path, method: "delete" %></li>
        </div>        
        <% else %>
        <li class="nav-item indent">
         <%= link_to "Вход", login_path, class: "nav-link" %>
         <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>



